/*
pa-color-array
*/
.pa-colour-array-component {
    width: 755px;
    height: 1115px;
    margin: 50px auto;
    overflow: hidden;
}

/*pa-color-array_filter*/
.pa-color-array_filter_wrapper {
    width: 750px;
    overflow: hidden;
    padding-bottom: 40px;
    height: 150px;
    margin: 0 auto;
}

.pa-color-array_filter {
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.pa-color-array_filter_item_wrapper {
    width: 125px;
    height: 135px;
    float: left;
    text-decoration: none;
}

.pa-color-array_filter_item {
    display: block;
    width: 90px;
    position: relative;
    margin: 0 auto;
}

.pa-color-array_filter_item_circle_wrapper {
    display: block;
    position: relative;
    width: 76px;
    margin: 0 auto;
    padding-top: 7px;
}

.pa-color-array_filter_item_circle {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 auto;
}

.pa-color-array_filter_item_border {
    display: block;
    position: absolute;
    top: 0px;
    left: -6px;
    border-width: 4px;
    border-style: solid;
    width: 81px;
    height: 81px;
    border-radius: 50%;
}

.pa-color-array_filter_title_wrapper {
    display: block;
    padding-top: 30px;
    text-align: center;
    height: 65px;
    overflow: hidden;
}

.pa-color-array_filter_title {
    font-size: 12px;
    color: black;
    font-family: 'GothamHTF-bold', tahoma, arial, helvetica, sans-serif;
    text-transform: uppercase;
}

.pa-color-array_filter_item_border__hide {
    display: none;
}

/*pa-color-array_pallete*/
.pa-color-array_palletes {
    width: 765px;
    margin: 0;
    overflow: hidden;
}

.pa-color-array_pallete {
    float: left;
    width: 782px;
    display: none;
}

.pa-color-array_pallete_item_color_wrapper {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pa-color-array_pallete_item_color {
    display: block;
    width: 176px;
    height: 176px;
}

.pa-color-array_palletes_wrapper {
    height: 1300px;
    overflow: hidden;
}

.show-border {
    display: block;
}

.show-pallete {
    display: block;
}

.pa-color-array_pallete_item_border {
    position: absolute;
    top: 0px;
    width: 176px;
    height: 176px;
    border: 17px solid rgb(255, 255, 255);
    opacity: 0.4;
    box-sizing: border-box;
}

.pa-color-array_pallete_item_border__hide {
    display: none;
}
